* {
	padding: 0;
	margin : 0;
}

body {
	font-family: 'Roboto', sans-serif;
	--main-red : #e50914;
	font-size  : 16px;
}

.main_wrapper {
	height             : 694px;
	width              : 100%;
	background-image   : url('netflix.jpg');
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : cover;
	position           : relative;
}

.main_wrapper:before {
	content         : "";
	position        : absolute;
	top             : 0;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index         : 1;
}

.header {
	padding-top: 28px;
	margin     : 0 56px;
	z-index    : 2;
	position   : relative;
}

.lang {
	display         : inline-block;
	width           : max-content;
	float           : right;
	padding         : 8px 16px;
	color           : white;
	background-color: transparent;
	border          : 1px solid white;
	border-radius   : 4px;
}

.button {
	display         : inline-block;
	width           : max-content;
	margin-left     : 28px;
	padding         : 8px 16px;
	float           : right;
	background-color: var(--main-red);
	border-radius   : 3px;
	color           : white;
	text-transform  : capitalize;
}

.button:hover {
	cursor: pointer;
}

.logo {
	display: inline-block;
	width  : 134px;
	fill   : var(--main-red);
}

.main_search {
	z-index   : 2;
	position  : relative;
	color     : white;
	text-align: center;
	max-width : 950px;
	padding   : 75px 0;
	margin    : 0 auto;
}

.main_search h1 {
	max-width: 640px;
	font-size: 50px;
	margin   : 0 auto;
}

.main_search p {
	margin   : 24px auto;
	max-width: 640px;
}

.main_search p:nth-child(2) {
	font-size: 24px;
}

.search_wrapper {
	max-width : 640px;
	margin    : 0 auto;
	box-sizing: border-box;
	font-size : 18px;
}

.search_wrapper .button {
	width      : 20%;
	margin-left: 0;
	padding    : 16px 16px;
}

.input_search {
	padding  : 16px 4px;
	width    : 70%;
	font-size: 14px;
	border   : none;
	outline  : none;
}

.container {
	background-color: black;
	padding         : 70px 45px;
	color           : white;
	margin          : 0 auto;
	display         : flex;
	justify-content : space-between;
	border-top      : 10px solid darkgray;

}

.left {
	flex-direction: row-reverse;
}

.container .texts {
	width          : 45%;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

.container .texts h2 {
	font-size    : 60px;
	margin-bottom: 12px;
	margin-right: auto;
}

.container .texts p {
	font-size: 24px;
}
.left .texts p {
	font-size: 30px;
}

.container .videos {
	background-image: url('video.m4');
	width          : 45%;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
	z-index: 2;
}

.container .videos img {
	width: 100%;
}

.animation {
	position: absolute;
	width: 445px;
	right: 130px;
	top: 868px;

}
.second-photo {

}
 .story-film {
	position: relative;
	display: flex;
	align-items: center;
	background: black;
	border: 2px solid rgb(75, 75, 75);
	border-radius: 10px;
	width: 60%;
	height: 100px;
	top: 430px;
	left: 130px;

 }

.story-film .stranger {
	position: absolute;
	left: 17px;
	width: 60px;
 }

.left .text {
	position: absolute;
	left: 100px;
 }
 .text .text-1 {
	color: rgb(6, 97, 255);
	font-size: 14px;
 }
 .loading {
	position: absolute;
	right: 20px;
	width: 15%;
 }

 .tree-video {
	position: absolute;
	width: 383px;
	right: 160px;
	top: 2163px;
 }

 .tree {
	z-index: 3;
 }