* {
    margin: 0px;
    padding: 0px;
}
body {
    --xs: 576px;
    --m: 768px;
    --l: 992px;
    --xl: 1200px;
    --xxl: 1400px;
    font-size: 20px;
}
.container {
    position: relative;
    color: white;
}

.side-header {
    display: inline-block;
    background-color: aqua;
    width: 25vw;
    height: 100vh;
}
.site-main {
    position: relative;
    display: inline-block;
    background-color: greenyellow;
    width: 49vw;
    height: 100vh;

}

.widget-area {
    display: inline-block;
    background-color: rgb(219, 0, 219);
    width: 25vw;
    height: 100vh;
    position: absolute;
}
.site-footer {
    background-color: blue;
    width: 49vw;
    height: 10vh;
    position: absolute;
    bottom: 0px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    .widget-area {
        width: 49vw;
        height: 20vh;
        bottom: 142px;
        left: 195px;
    } 
    }