/* global settings */
* {
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin : 0;
	padding: 0;
}

.container {
	width     : 100%;
	padding   : 0 120px;
	box-sizing: border-box;
}

.wrapper_with_padding {
	padding: 40px 0;
}

/* ------------------------- */

/* adaptivnaya*/

/* main contanier */
.main_container {
	padding-bottom: 40px;
}

.main_page_content {
	padding-top   : 40px;
	display       : flex;
	flex-direction: column;
	gap           : 30px;
}

.main_page_content .text {
	display        : flex;
	justify-content: space-between;
	align-items    : flex-end;
}

.main_page_content .text .name {
	font-size  : 24px;
	font-weight: bold;
}

.job {
	font-size: 12.5px;
}

.lang {
	rotate   : -90deg;
	transform: translateX(50%);
	font-size: 12px;
}

.img {
	width: 100%;
}

.img img {
	width: 100%;
}

/* ----------------------------- */

/* header */
.header {
	display        : flex;
	justify-content: space-between;
	border-bottom  : 1px solid black;
	padding        : 32px 0;
}

.link {
	text-transform : capitalize;
	text-decoration: none;
	color          : gray
}

.link.active {
	color      : black;
	font-weight: bold;
}

.pitext {
	font-size: 18px;
}

/* -------------------------- */


/* about container */
.about_container {
	background-color: #F6F6F6;
}

.about {
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	width          : 40%;
	margin         : 0 auto;
	text-align     : center;
	font-size: 18px;
}

/* skills--------------- */

.skills_container {
	background-color: white;
}

.skills_apps {
	display: flex;
	justify-content: space-between;
}

.skills_text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0px 0px 50px 0px;
}

.apps {
	font-size: 13px;
	color: gray;
}

.star {
	width: 18px;
	height: 18px;
}


/*portfolio------ */

.portfolio_container {
	background-color: #F6F6F6;
}

.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.portfolio_text {
	font-size: 30px;
}

.portfolio_href {
	font-size: 17px;
	padding: 0px 0px 40px 0px;
	color: black;
}

/*contacts */

.contacts_container {
	background-color: white;
}

.contacts_text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
    margin: 0 auto;
    text-align: center;

}

.contacts_text_font {
	font-size: 30px;
}

.button {
	border: 0px solid black;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5px 20px 5px 20px;
	font-size: 16px;
	color: white;
	background-color: black;
}

.contacts_site {
	display: flex;
	justify-content: center;
    gap: 55px;
    align-items: center;
	padding: 60px 0px 0px 0px;
}

.logos {
	width: 30px;
	height: 30px;
}

.end {
	color: #828282;
	font-size: 14px;
	text-align: center;
	padding: 20px 0px 0px 0px;
}

@media screen and (max-width: 576px) {
	.link {
		display: none;
	}
	.header {
		border-bottom: none;
	}
	img {
		width: 316,5px;
		height: 478px;
		object-fit: cover;
	}
	.main_page_content .text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.text .lang {
		display: none;
	}
	.main_page_content .text .name {
		font-size  : 50px;
		font-weight: bold;
	}
	.about {
		display        : flex;
		flex-direction : column;
		justify-content: center;
		align-items    : center;
		gap            : 10px;
		width          : 70%;
		margin         : 0 auto;
		text-align     : center;
		font-size: 23px;
	}
	.about h2 {
		width: 200px;
	}
	.skills_apps {
		display: flex;
		flex-direction: column;
	}
}